.card{
    display: flex;
    border: 1px solid rgb(236, 236, 236);
    box-shadow:0 10px 25px  rgb(158, 158, 158);
    border-radius: 10px;
    width: 450px;
    align-items: center;
}
.text{
    padding: 15px;
    font-size: 10px;
}
.card img{
    border-radius: 10px;
}